Body { background-color: #006600;}

#nav-table {width: 1024px; }

#nav-td {width: 360px; text-align:center;}

#home-h1 {color: #DCE6A7;
         font-family: "Hattori Hanzo"; }

#home-p {color: #DCE6A7;}

#javascripts-h1 {color: #DCE6A7;}
