Body { background-color: #006600; }

#nav-table {width: 1024px;}

#nav-td {width: 360px; text-align:center; border-radius:50px;}

#home-h1 {color: #DCE6A7;}

#home-p {color: #DCE6A7;}

#javascripts-h1 {color: #DCE6A7;}

#javascripts-p {color: #DCE6A7}

#about-h1 {color: #DCE6A7}

#about-p {color: #DCE6A7}

#about-bg {background-image: url(myBackground.jpg);}
